@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body{
    line-height: 1.8;
    font-family: 'Roboto', sans-serif !important;
}
h1 h2 h3 h4 h5 h6{
     font-weight: 700 !important;
}

a{
    transition: 0.4s ease;
    text-decoration: none;
}

.btn{
    padding: 10px 22px;
    background-repeat: no-repeat;
}

.nav-link{
    color: black !important;
    font-weight: bold;
    font-size: 20px;
    display: flex;

}

.navbar-collapse{
    padding-left: 600px;
    color: black !important;

}
.nav-link:hover{
    color: orangered !important;
    font-weight: bold;
    font-size: 25px;
    font-weight: 35px;

}

.navbar-brand{
    color:black !important ;
    font-size: 35px;
    font-weight: bold;
}
.navbar-brand span{
    color: red !important;
    font-size: 40px;
    
   
}

/* Hero*/

.hero-section{
    min-height: 100vh ;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./image/dakadaZugacoin.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-section h1{
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.2;
    

}

.hero-section .btn-main{
    width:230px ;
    background-color: blue;
    color: white;
    border-radius: 5px;
    font-size: 1.4rem;
    border: none;

}
.hero-section .btn-main:hover{
    width:230px ;
    background-color:transparent;
    color: orangered;
    border-radius: 5px;
    font-size: 1.4rem;
    border: 3px solid orangered;

}

/* About-Us styling */
.About-us{
    min-height: 70vh;
    font-size: 20px;
    text-align: justify;
}

.note{
    background-color: rgb(219, 195, 163);
}

/* Services card*/

.divider{
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold;
    font-size: 45px;

}
.service_head{
    color: black;
}
.services{
    background-color: #FDFDFD;
}

.card:hover{
    box-shadow: rgba(0, 0, 0, 0.45) 0px, 5px, 15px;
}

.card .fas{
    font-size: 45px;
    color: seagreen;
    padding-top: 20px;
    
    
}

/* Jam Gbinde family Gallery  */
.gallery{
   
    background: #191970;
    display: flex;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}
.display-5{
    color: white;
}
.item a:hover{
   height: 370px;
   width: 400px;
   transform: rotate(45deg);
   transition: 5s ease-in-out;
}

/* The footer*/

.footer{
    background:#0f0e0e;
    color: white;

}

.copyright{
    background:white;
    color: green;
}

.media{
   font-family:'Courier New', Courier, monospace;
   color: white;
   font-weight: bold;
   margin-right: 80px;
   
}
.social{
    text-align: end;
    display: block;
    padding: 10px;
}

.fa-brands{
    padding: 7px;
    font-size: 30px;
    color: white;
}

h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.font{
    font-family: cursive;
    font-style: italic;
}

.first_column{
    padding-top: 25 px;
}

